# CLion / JetBrains
.idea/
**/.idea/

# CMake build directories
cmake-build-*/
**/cmake-build-*/

# Build directories
build/
**/build/

# Compiled files
*.o
*.obj
*.exe

# Generated output files from ueb2
/ueb2/SGP4_Code/SGP4-propagation-data.csv

# Generated output files from ueb3
/ueb3/uebung3_code/contact-data.csv
/ueb3/uebung3_code/jd-and-eci-data.csv
/ueb3/uebung3_code/jd-and-tracking-data.csv